<div id="content-area" class="container">
    <div class="row" style="margin-bottom: 45px;">
        <div class="col center">
            <h1 class="vertical-spacer">Pre-Owned</h1>
            <p style="max-width: 700px; margin-left: auto; margin-right: auto;" class="vertical-spacer_medium">
                {{blurb}}
            </p>
        </div>
    </div>
    {{collection:pre-owned}}
        <div class="row">
            <div class="col-md-7">
                <h4>Listed: {{date}}</h4>
                <h3 style="margin-top: 0; margin-bottom: 12px;">
                	<a href="/pre-owned/{{slug}}">{{title}}</a>
                </h3> 
                <p style="margin: 0;"><strike>Original Retail Price: ${{new_retail_price format_number="2|.|,"}}</strike></p>
                <p style="margin-top: 0;">Your Price: <strong>${{your_price format_number="2|.|,"}}</strong></p>
                {{ if local_only }}
                <p>Available for local purchase only. No shipping charge is applied when you order.</p>
                {{/if}}
                <p><a href="{{url}}"><strong>View details</strong></a></p>
            </div>
            <div class="col-md-5">
                {{ images limit="1" }}
                <a href="/pre-owned/{{slug}}"><img width="100%" src="{{url}}" alt="{{title}}" style="border-radius: 7px;"></a>
                {{/images}}
            </div>
            
        </div>
        <hr>
    {{/collection:pre-owned}}
</div>
