<div id="content-area" class="container">
    <div class="row vertical-spacer">
        <div class="col-md-7 vertical-spacer_small">
            <h4>Listed: {{date}}</h4>
            <h3 class="vertical-spacer_small">{{title}}</h3>
            <p style="margin-top: 0; margin-bottom: 0;"><strike>Original Retail Price: ${{new_retail_price format_number="2|.|,"}}</strike></p>
            <p style="margin-top: 0;" class="vertical-spacer">Your Price: <strong>${{your_price format_number="2|.|,"}}</strong></p>
        </div>
        <div class="col-md-5" style="text-align: right; display: flex; flex-direction: column; justify-content: center;">
            {{if your_price}}
            <div class="paypal vertical-spacer">
                {{ if local_only }}
                <div class="paypal vertical-spacer">
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="marc.mable@fidelisav.com">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="{{title}}">
                        <input type="hidden" name="amount" value="{{your_price}}">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="shipping" value="0">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                </div>
                <p>Available for local purchase only. No shipping charge is applied when you order.</p>
                {{ else }}
                    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="business" value="marc.mable@fidelisav.com">
                        <input type="hidden" name="lc" value="US">
                        <input type="hidden" name="item_name" value="{{title}}">
                        <input type="hidden" name="amount" value="{{your_price}}">
                        <input type="hidden" name="currency_code" value="USD">
                        <input type="hidden" name="button_subtype" value="services">
                        <input type="hidden" name="no_note" value="0">
                        <input type="hidden" name="shipping" value="{{shipping}}">
                        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynowCC_LG.gif:NonHostedGuest">
                        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                    </form>
                {{/if}}
            </div>
            {{/if}}
        </div>
    </div>
    <div class="row" style="margin-bottom: 90px;">
        <div class="col-md-5">
            <p>{{description}}</p>
            {{if original_accessories}}
                <h4>Original Accessories:</h4>
                <ul>
                    <li><p>{{original_accessories}}</p></li>
                </ul>
            {{/if}}
        </div>  
        <div class="col-md-7">
            <div class="swiper productSwiper spacer" style="padding-top: 78px; margin-top: -78px;">
                <div class="swiper-wrapper">                                                
                    {{images}}
                        {{if no_results}}
                            <p class="light">There are no images of this item currently.</p>                             
                        {{else}}
                            <div class="swiper-slide">
                                <img width="100%" src="{{url}}" style="border-radius: 6px;" alt="{{title}}">
                            </div>
                        {{/if}}
                    {{/images}}
                </div>
                <div class="swiper-button-next"></div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>   
    </div>
    <div class="row">
        <div class="col">
            {{ if pairs_well_with }}
            <div class="row vertical-spacer" id="pairs-with">
                <div class="col-12"><hr>
                    <h2 class="vertical-spacer">Pairs well with</h2>
                    
                </div>
                {{relate:pairs_well_with}}
                    <div class="col-6 col-sm-4 col-lg-3">
                        <a href="/products/{{product-categories}}{{slug}}{{/product-categories}}/{{slug}}">
                            {{partial:card :image="product_hero_image"}}
                        </a>
                    </div>
                {{/relate:pairs_well_with}}
            </div>
            {{ /if }}
            {{ if also_consider }}
            <div class="row" id="also-consider">
                <div class="col-12"><hr>  
                    <h2 class="vertical-spacer">Also consider</h2> 
                </div>
                {{relate:also_consider}}
                    {{if no_results}}
                    {{else}}
                    <div class="col-6 col-sm-4 col-lg-3">
                        <a href="/products/{{product-categories}}{{slug}}{{/product-categories}}/{{slug}}">
                            {{partial:card :image="product_hero_image"}}
                        </a>
                    </div>
                    {{/if}}
                {{/relate:also_consider}}
            </div>
            {{ /if }}
        </div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
   var swiper = new Swiper(".productSwiper", {
     grab: true,
     navigation: {
         nextEl: ".swiper-button-next",
         prevEl: ".swiper-button-prev",
       },
     grabCursor: true,
     pagination: {
       el: ".swiper-pagination",
       clickable: true,
     },
     breakpoints: {
       540: {
         slidesPerView: 1,
         spaceBetween: 30,
       },
       768: {
         slidesPerView: 1,
         spaceBetween: 30,
       },
       992: {
         slidesPerView: 1,
         spaceBetween: 30,
       },
       1200: {
         slidesPerView: 1,
         spaceBetween: 30,
       },
   },
   });
 </script>