<div class="container" style="height: 1px;">
    <div id="breadcrumb" class="row" >
        <div class="col">
            <ol id="knockout" class="breadcrumb" style="position: absolute; top: 66px;">
                <li class="breadcrumb-item"><a href="/products"><span>Products</span></a></li>
                
                <li class="breadcrumb-item"><span>{{page:title}}</span></li>
            </ol>
        </div>
    </div>
</div>

<div class="container" id="content-area">
    <div class="row vertical-spacer">
        <div class="col-sm-12 center" style="margin-top:30px">
            <h1 class="vertical-spacer">{{title}}</h1>
            <p class="vertical-spacer" style="max-width: 700px; margin-left: auto; margin-right: auto;">{{category_description}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div role="tablist" id="accordion" style="display: block;">
                {{collection:manufacturers product-categories:contains="{slug}"}}
                <div class="card no-border vertical-spacer">
                    <div class="card-header" role="tab">
                        <h2 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="accordion .item-{{increment from='1'}}" href="#accordion .item-{{increment:url from='1'}}">{{title}}</a></h2>
                    </div>
                    <div class="collapse show item-{{increment:other from='1'}}" role="tabpanel" data-parent="#accordion">
                        <div class="card-body spacing">
                            <div class="row">
                                {{collection:products :manufacturer:is="id" product-categories:contains="{page:slug}" sort="price:asc"}}
                                {{ if no_results }}
                                    <p style="text-align: center; width: 100%;" class="body-sans">No products added for this manufacturer in this product category</p>
                                {{ else }}
                                        <div class="col-12 col-md-4">
                                        <a href="{{url}}">
                                            {{partial:card_product-category :image="product_hero_image"}}
                                        </a>
                                    </div>
                                {{ /if }}
                                {{/collection:products}}
                            </div>
                        </div>
                    </div>
                </div>
                {{/collection:manufacturers}}
            </div>
        </div>
    </div>
</div>