{{collection:news}}
    <div class="newsitem">
        <div class="row">
            <div class="col-md-5" style="margin-bottom: 15px;">
                <a href="{{url}}"><img src="{{image}}" width="100%" alt="{{title}}"></a>
            </div>
            <div class="col-md-7">
                <div><h4>{{date}}</h4></div>
                <a href="{{url}}">
                    <h3>{{title}}</h3>
                </a>
                <p>{{summary}}</p>
                <a href="{{url}}"><p><strong>Read more</strong></p></a>
            </div>
        </div>
        
    </div>
{{/collection:news}}
