<div class="container" id="content-area">
    <div class="row">
        <div class="col">
            <div class="meta newsdate">{{date}}</div>
            <div class="row vertical-spacer">
                <h1 class="h1small col-lg-10 offset-lg-1">{{title}}</h1>
            </div>
            <img src="{{image}}" width="100%" alt="{{title}}" >
            <div class="row vertical-spacer_medium">
                <h3 class="col-lg-10 offset-lg-1">{{summary}}</h3>
            </div>
            <div class="row">
                <div class="col-md-8 offset-md-2 col-lg-8 offset-lg-2">
                    <div>{{main_content}}</div>
                </div>
            </div>
            
        </div>
    </div>
</div>