{{collection:news}}
    <div class="newsitem">
        <div class="row">
            <div class="col-md-5" style="margin-bottom: 15px;">
                <a href="{{url}}"><img src="{{image}}" width="100%" alt="{{title}}"></a>
            </div>
            <div class="col-md-7">
                <div class="meta">{{date}}</div>
                <a href="{{url}}">
                    <h2>{{title}}</h2>
                </a>
                <p>{{summary}}</p>
                <a href="{{url}}">Read more</a>
            </div>
        </div>
        
    </div>
{{/collection:news}}
